:root {
  --purple: #502989;
  --black: #191e22;
  --white: #ffffff;
  --pink: #ff00cc;
  --red: #ff005c;
  --orange: #ffcc00;
  --blue: rgb(123, 145, 163);
  --blue2: rgb(98, 121, 132);
  --cyan: #00bfff;
  --green: #bbd73f;
  --yellow: #e8fc00;
  --grey: #747474;
  --darkGrey: #454545;
  --lightGrey: #cccccc;
  --small: 640px;
  --medium: 768px;
  --large: 1024px;
  --xlarge: 1280px;
  --breakpoint-small: 640px;
  --breakpoint-medium: 768px;
  --breakpoint-large: 1024px;
  --breakpoint-xlarge: 1280px;
  --bold-font: 'Avenir Next LT W01 Regular', 'Helvetica Neue', Helvetica, Arial,
    sans-serif;
  --body-font: 'Avenir Next LT W01 Light', 'Helvetica Neue', Helvetica,
    Arial, sans-serif;

  --light-font: 'Avenir Next LT W01 Light', 'Helvetica Neue', Helvetica,
    Arial, sans-serif;
  --serif-font: 'Cinzel','Georgia','Cambria','Times New Roman','Times', 'serif';
  --bounce: cubic-bezier(0.205, 0.47, 0.36, 1.385);
  --curve: cubic-bezier(0.65, 0, 0.45, 1);
  --bounce2: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  --hoverEasing: cubic-bezier(0.23, 1, 0.32, 1);
  --returnEasing: cubic-bezier(0.445, 0.05, 0.55, 0.95);
  --max-width: 1400px;
}
